@import url(./__logo-zone/resourse__logo-zone.css);
@import url(./__logo/resourse__logo.css);

.resourse {
  padding: 100px 0 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
